@{
    UserProfileModel CurrentUserProfile = ViewData["CurrentUserProfile"] as UserProfileModel;
    IEnumerable<PostInfoModel> CurrentUserPosts = ViewData["CurrentUserPosts"] as IEnumerable<PostInfoModel>;
}

@{
    ViewData["Title"] = @CurrentUserProfile.UserName + "'s Profile";
}

<h1 class="text-center display-4"><span>@CurrentUserProfile.UserName</span>'s User Profile</h1>

<div class="container-fluid card mt-3">
    
    <h3 class="mt-2">Posts</h3>
    <hr class="my-0"/>
    <div class="row justify-content-center my-2 mx-2">
        @{
            if(CurrentUserPosts.Count() != 0) {
                @await Component.InvokeAsync("Posts", CurrentUserPosts)
            } else {
                <div class="card-body my-2">
                    <h5 class="text-center">You have not posted anything yet.</h5>
                </div>
            }
        }
        
    </div>

</div>

<div class="container-fluid my-2">
    <div class="row justify-content-center">
        <div class="container-fluid card col-md-5 m-2">
            <h3 class="mt-2">Followers (@CurrentUserProfile.Followers.Count())</h3>
            <hr class="my-0"/>
            <ul class="my-2">
                @foreach(var follower in CurrentUserProfile.Followers) {
                    <li><a class="link" asp-controller="Profile" asp-action="UserProfile" asp-route-UserName="@follower">@follower</a></li>
                }
            </ul>
        </div>
        <div class="container-fluid card col-md-5 m-2">
            <h3 class="mt-2">Following (@CurrentUserProfile.Following.Count())</h3>
            <hr class="my-0"/>
            <ul class="my-2">
                @foreach(var following in CurrentUserProfile.Following) {
                    <li><a class="link" asp-controller="Profile" asp-action="UserProfile" asp-route-UserName="@following">@following</a></li>
                }
            </ul>
        </div>
    </div>
</div>