@{
    PostInfoModel CurrentPostModel = ViewData["CurrentPostModel"] as PostInfoModel;
    UserProfileModel CurrentUserProfile = ViewData["CurrentUserProfile"] as UserProfileModel;
}

<div class="card-title float-start align-middle">
    
    @* User Actions dropdown *@
    <div class="dropdown">

        @* Show these post and user actions if Authenticated *@
        @if(User.Identity.IsAuthenticated) {
            <div class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                &#x40;@CurrentPostModel.UserName
            </div>

            <ul class="dropdown-menu">

                <li><a class="dropdown-item" title="Share the User" id="share-user">
                    <i class="bi bi-share me-2"></i>Share User
                </a></li>

                @* If a post belongs to the current user, show these items in dropdown *@
                @if(User.Identity.Name == @CurrentPostModel.UserName) {
                    <li><a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-Post="@CurrentPostModel" class="dropdown-item">
                        <i class="bi bi-sliders me-2"></i>Manage Profile
                    </a></li>
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item text-primary" id="edit-post">
                        <i class="bi bi-pen me-2"></i>Edit
                    </a></li>
                    <li><a class="dropdown-item text-danger" id="delete-post">
                        <i class="bi bi-trash me-2"></i>Delete
                    </a></li>

                    <script>
                        currentUserPostIds.push(@CurrentPostModel.PostId);
                    </script>

                }
                
                @* If a post doesn't belong to the current user, show these items in dropdown *@
                else {

                    <li><a asp-controller="Profile" asp-action="UserProfile" asp-route-UserName="@CurrentPostModel.UserName" class="dropdown-item">
                        <i class="bi bi-person-lines-fill me-2"></i>View Profile
                    </a></li>

                    
                    if(CurrentUserProfile.Following.Contains(@CurrentPostModel.UserName)) {
                        <li><a class="dropdown-item text-danger" id="follow">
                            <i class="bi bi-person-dash-fill me-2"></i>Un-Follow
                        </a></li>

                        <script>
                            isFollowed.push(true);
                        </script>

                    }
                    else {
                        <li><a class="dropdown-item" id="follow">
                            <i class="bi bi-person-plus me-2"></i>Follow
                        </a></li>

                        <script>
                            isFollowed.push(false);
                        </script>

                    }

                    <script>
                        userNamesFollow.push("@CurrentPostModel.UserName");
                    </script>

                }

            </ul>
        }
        
        @* Show the login dropdown item if not Authenticated  *@
        else {
            <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                &#x40;@CurrentPostModel.UserName
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item text-primary" title="Login or Register to Interact" asp-area="Identity" asp-page="/Account/Register"><i class="bi bi-box-arrow-in-right me-2"></i>Login/Register</a></li>
            </ul>
        }
        
    </div>
</div>